# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Kotlin files
[*.{kt,kts}]
indent_size = 4
indent_style = space
max_line_length = 120
continuation_indent_size = 4

# Gradle files
[*.gradle.kts]
indent_size = 4
indent_style = space

# XML files
[*.xml]
indent_size = 4
indent_style = space

# JSON files
[*.json]
indent_size = 2
indent_style = space

# YAML files
[*.{yml,yaml}]
indent_size = 2
indent_style = space

# Markdown files
[*.md]
max_line_length = 0
trim_trailing_whitespace = false

# ProGuard files
[*.pro]
indent_size = 2
indent_style = space
